body{
	background-color: #fafafa; 
}

.site{
	height: 494px;
	margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
	z-index: 6;
    text-align: center;
}

.logo{
    width: 202px;
    display: inline-block;
}

.logoimg{
    height: 72px;
    margin-bottom: 16px;
    display: inline-block;
}

.letteringimg{
    height: 48px;
    display: inline-block;
}

.message{
    width: 515px;
    font-family: 'helvetica', sans-serif;
    line-height: 32px;
    font-size: 20px;
    margin: 24px 0px 24px 0px;
}

.insta{
    width: 202px;
    border: solid;
    border-width: 2px;
    border-color: #D0D0D0;
    display: inline-block;
    border-radius: 6px;

}

.igimg{
    height: 32px;
    margin: 24px 0px 4px 0px;
}

.followus{
    background-color: #2783FF;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px 8px 16px;
    margin: 8px 0px 24px 0px;
}

.handle{
    color: black;
    font-size: 18px;
    font-family: "helvetica";
    font-weight: bold;
    line-height: 28px;
    margin: 0px;
}

.followp{
    color: white;
    font-size: 18px;
    font-family: "helvetica";
    font-weight: bold;
    line-height: 24px;
    margin: 0px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}



}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}


}


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logo{
    width: 404px;
}

.logoimg{
    height: 120px;
    margin-bottom: 32px;
}

.letteringimg{
    height: 80px;
}

.message{
    width: 670px;
    line-height: 64px;
    font-size: 40px;
    margin: 48px 0px 48px 0px;
}

.insta{
    width: 404px;
    border-width: 4px;
    border-radius: 12px;

}

.igimg{
    height: 64px;
    margin: 48px 0px 8px 0px;
}

.followus{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    margin: 16px 0px 48px 0px;
}

.handle{
    font-size: 36px;
    line-height: 56px;
}

.followp{
    font-size: 36px;
    line-height: 48px;
}

}
