body{
	background-color: #fafafa; 
}

.site{
	height: 424px;
	width: 424px; 
	margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
	z-index: 6;
    text-align: center;
}

.logo{
    width: 150px;
    margin-bottom: 32px;
}

.whatsappimg{
    width: 18px;
    margin-right: 8px;
    float: left;
}

.whatsappus {
    color: white;
    font-size: 16px;
    font-family: "helvetica";
    margin: 0px;
}

.messageus{
    background-color: #25d366;
    border: none;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 125px;
    padding: 24px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}



@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 

.footer{
    height: 100px;
}

.site {
    height: 724px;
    width: 634px;
    top: 40%;
}

}
