body{
	background-color: #fafafa; 
}

.site{
	height: 424px;
	width: 424px; 
	margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
	z-index: 6;
    text-align: center;
}

.logoimg{
    width: 120px;
    margin-bottom: 24px;
}

.letteringimg{
    width: 200px;
    margin-bottom: 32px;
}

.whatsappimg{
    width: 18px;
    margin-right: 8px;
    float: left;
}

.whatsappus {
    color: white;
    font-size: 16px;
    font-family: "helvetica";
    margin: 0px;
}

.messageus{
    background-color: #25d366;
    border: none;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 125px;
    padding: 20px;
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 


.site {
    height: 724px;
    width: 634px;
    top: 50%;
}

.logoimg{
    width: 280px;
    margin-bottom: 48px;
}

.letteringimg{
    width: 400px;
    margin-bottom: 64px;
}

.whatsappimg{
    width: 44px;
    margin-right: 20px;
}

.messageus{
    border-radius: 100px;
    width: 312px;
    padding: 50px;
}

.whatsappus {
    font-size: 40px;
}

}
